# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONMENT
# =========================
.env
.env.*
venv/
.venv/

# =========================
# GIT
# =========================
.git/
.gitignore

# =========================
# LOGS (NO VAN A DOCKER IMAGE)
# =========================
data/logs/
*.log

# =========================
# STREAMLIT CACHE
# =========================
.streamlit/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / DEV FILES
# =========================
tests/
*.ipynb

# =========================
# OPTIONAL (si tienes modelos pesados locales)
# =========================
models/